<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <%- include('./partials/meta-header.ejs') %>
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="create-game-container">

       <h1><span class="text-blue">Tic</span> <span class="text-orange">Tac</span> <span class="text-blue">Toe</span></h1>
       <h3>Create new game</h3>

       <div class="form-input">
        <label for="">Your name</label>
        <input type="text" name="playerOneName" id="playerOneName" placeholder="John">
      </div>

      <div class="form-input">
        <label for="">Your opponent name</label>
        <input type="text" name="playerTwoName" id="playerTwoName" placeholder="Peter">
      </div>
      
      <button id="create-game">Create Game</button>
    </div>
  </div>
</div>
<script>
  let createGameButton = document.getElementById('create-game');
  let playerOneInput = document.getElementById('playerOneName');
  let playerTwoInput = document.getElementById('playerTwoName');

  createGameButton.onclick = (e) => {
    let playerOneName = playerOneInput.value.replace(' ', '').replace('-', '');
    let playerTwoName = playerTwoInput.value.replace(' ', '').replace('-', '');
    if(playerOneName !== '' && playerTwoName !== '' ){
      window.location.href = `/${playerOneName}-${playerTwoName}`;
    }
  } 
</script>
</body>
</html>