<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#111">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>TicTacToe</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
	<div class="notifications-container">
	
	</div>
	<div class="container">
		<div class="row">
			<table cellpadding="0px" cellspacing="0px">
				<tr>
					<td class="col-1" data-col="1"></td>
					<td class="col-2" data-col="2"></td>
					<td class="col-3" data-col="3"></td>
				</tr>
				<tr>
					<td class="col-4" data-col="4"></td>
					<td class="col-5" data-col="5"></td>
					<td class="col-6" data-col="6"></td>
				</tr>
				<tr>
					<td class="col-7" data-col="7"></td>
					<td class="col-8" data-col="8"></td>
					<td class="col-9" data-col="9"></td>
				</tr>
			</table>
		</div>
			<div class="actions">
			<div class="item new-game" title="New Game"></div>
			</div>
	</div>

	<div class="player-indicator"></div>

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
	<script>
		let roomId = '<%= roomId %>';
	</script>
	<script src="/assets/scripts/script.js"></script>
</body>
</html>