<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#111">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>TicTacToe</title>
	<link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<table cellpadding="0px" cellspacing="0px">
				<tr>
					<td class="col-1"></td>
					<td class="col-2"></td>
					<td class="col-3"></td>
				</tr>
				<tr>
					<td class="col-4"></td>
					<td class="col-5"></td>
					<td class="col-6"></td>
				</tr>
				<tr>
					<td class="col-7"></td>
					<td class="col-8"></td>
					<td class="col-9"></td>
				</tr>
			</table>
		</div>
	</div>
	<script src="/assets/scripts/script.js"></script>
</body>
</html>