<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <%- include('./partials/meta-header.ejs') %>
	<title>Tic Tac Toe</title>
  <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="message-container">
       <h1><%- title %></h1>
       <p><%- description %></p>
     </div>
   </div>
 </div>
</body>
</html>